<div class="jumbotron">
  <h1>Welcome, {{name}}!</h1>
  <h4>Submit or View Time Cards</h4>
  <p ng-model="error"></p>
  <p>Start Time: <input id="start" type=time></input></p>
  <p>End Time: <input id="end" type=time></input></p>
  <button class="btn btn-lg btn-primary" ng-click="submitTimeCards()">Submit Time Card</span></button>
  <button class="btn btn-lg btn-primary" ng-click="getTimeCards()">View Time Cards</button>
  <div class="timecards" ng-repeat="timecard in timecards">
      <p>Date: {{timecard.date}}</p>
      <p>Start Time: {{timecard.startTime}}</p>
      <p>End Time: {{timecard.endTime}}</p>
      <button class="btn btn-md btn-danger" ng-click="delete(timecard._links.timeCard.href)">Delete</button>
  </div>
</div>
